<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header') %>
        <style>
            .txtJustificado {
              text-align: justify;
            }
          </style>
    </header>
    <main>
        <div class="mt-4 p-2 bg-light text-secondary rounded">
            <h4>Descrição do campeonato Brasileiro</h4>
            <p class="text-dark mt-1 mb-0 txtJustificado">
                O Campeonato Brasileiro (Brasileirão) é a principal competição de futebol do Brasil, é organizado pela Confederação Brasileira de Futebol 
                (CBF) desde o ano de 1971. São 20 clubes que disputam o título em um formato de pontos corridos,
                em que cada time joga 38 partidas durante o campeonato, acumulando pontos para determinar o campeão, 
                que é aquele com mais pontos ao final das 38 partidas. As equipes que terminam nas últimas posições são rebaixadas para a 
                Série B (Segunda divisão do campeonato), enquanto os melhores quatro melhores times se qualificam para a principal competição 
                continental da America do Sul (Libertadores). é erconhecido por sua competitividade e por revelar grandes talentos, 
                o Brasileirão é um espetáculo emocionante que atrai milhões de torcedores por ano e celebra a paixão pelo futebol no país.
            </p>
        </div>
        <div class="mt-4 p-2 bg-light text-secondary rounded">
            <h4>Ano de criação</h4><p class="text-dark mt-1 mb-0 txtJustificado">1971</p>
        </div>
        <div class="mt-4 p-2 bg-light text-secondary rounded">
            <h4>Regulamento</h4>
            <p class="text-dark mt-1 mb-0 txtJustificado">
                <strong>Formato:</strong> 20 times, com um sistema de pontos corridos, com jogos de ida e volta.<br>
                <strong>Pontos:</strong> Vitória: 3 -- Empate: 1 -- Derrota: 0<br>
                <strong>Classificação:</strong> A classificação é definida pela quantidade de pontos de cada time. Em que o time com mais pontos ganha o título, 
                os quatro primeiros tem vaga garantida na Libertadores, e os quatro últimos caem de divisão.<br>
                <strong>Desempate:</strong> Existem alguns critérios de desempate se preciso, bem como, o número de vitórias e saldo de gols.<br>
                <strong>Calendário:</strong> O campeonato começa entre abril e maio, terminando apenas em dezembro.<br>
                <strong>Punições:</strong> O jogador que toma um cartão vermelho, sai da partida e não joga a proxima, o jogador que toma dois amarelos 
                também é expulso.<br>
            </p>
        </div>
        <div class="mt-4 p-2 bg-light text-secondary rounded">
            <h4>Dados históricos</h4>
            <p class="text-dark mt-1 mb-0 txtJustificado">
                <strong>Primeiro Campeão:</strong> Atletico Mineiro<br>
                <strong>Maior Campeão:</strong> Palmeiras (12 títulos)<br>
                <strong>Atual Campeão:</strong> Palmeiras<br>
                <strong>Maior campeão nos pontos corridos:</strong> Palmeiras (4 títulos)<br>
                <strong>Time com mais rebaixamentos: </strong> Sport (6 rebaixamentos)<br>
                <strong>Time com mais sequencia de títulos: </strong> São Paulo (2006, 2007, 2008)<br>
                <strong>Time que mais pontuou em uma edição: </strong> Flamengo (90 pontos em 2019)<br>
                <strong>Jogador com mais gols na história da competição: </strong> Roberto Dinamite (190 gols)<br>
                <strong>Jogador com mais gols em uma edição: </strong> Edmundo (29 gols)<br>
                <strong>Jogador com mais assistencias na história da competição: </strong> Arrascaeta (69 assistencias)<br>
            </p>
        </div>
        <div class="mt-4 p-2 bg-light text-secondary rounded">
            <h4>Times participantes</h4>
            <p class="text-dark mt-1 mb-0 txtJustificado">
                A lista de times que parycipam do brasileirão varia todo ano. Os times que estão participanto no ano de 204 são:<br>
                Athletico, Atlético-GO, Atlético-MG, Bahia, Botafogo, Bragantino, Corinthians, Criciúma, Cruzeiro, Cuiabá, Flamengo, 
                Fluminense, Fortaleza, Grêmio, Internacional, Juventude, Palmeiras, São Paulo, Vasco e Vitória.
            </p>
        </div>
        <div class="mt-4 p-2 bg-light text-secondary rounded">
            <h4>Histórico de campeões das edições anteriores</h4>
            <p class="text-dark mt-1 mb-0 txtJustificado">
                <strong>2023: </strong> Palmeiras<br>
                <strong>2022: </strong> Palmeiras<br>
                <strong>2021: </strong> Atletico Mineiro<br>
                <strong>2020: </strong> Flamengo<br>
                <strong>2019: </strong> Flamengo<br>
                <strong>2018: </strong> Palmeiras<br>
                <strong>2017: </strong> Corinthians<br>
                <strong>2016: </strong> Palmeiras<br>
                <strong>2015: </strong> Corinthians<br>
                <strong>2014: </strong> Cruzeiro<br>
                <strong>2013: </strong> Cruzeiro<br>
                <strong>2012: </strong> Fluminense
            </p>
        </div>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </main>
</body>
</html> -->








<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>Descrição do campeonato Brasileiro</h4>
                    <p>
                        O Campeonato Brasileiro (Brasileirão) é a principal competição de futebol do Brasil, é organizado pela Confederação Brasileira de Futebol 
                        (CBF) desde o ano de 1971. São 20 clubes que disputam o título em um formato de pontos corridos,
                        em que cada time joga 38 partidas durante o campeonato, acumulando pontos para determinar o campeão, 
                        que é aquele com mais pontos ao final das 38 partidas. As equipes que terminam nas últimas posições são rebaixadas para a 
                        Série B (Segunda divisão do campeonato), enquanto os melhores quatro melhores times se qualificam para a principal competição 
                        continental da America do Sul (Libertadores). é erconhecido por sua competitividade e por revelar grandes talentos, 
                        o Brasileirão é um espetáculo emocionante que atrai milhões de torcedores por ano e celebra a paixão pelo futebol no país.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>Ano de criação</h4><p>1971</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>Regulamento</h4>
                    <p>
                        <strong>Formato:</strong> 20 times, com um sistema de pontos corridos, com jogos de ida e volta.<br>
                        <strong>Pontos:</strong> Vitória: 3 -- Empate: 1 -- Derrota: 0<br>
                        <strong>Classificação:</strong> A classificação é definida pela quantidade de pontos de cada time. Em que o time com mais pontos ganha o título, 
                        os quatro primeiros tem vaga garantida na Libertadores, e os quatro últimos caem de divisão.<br>
                        <strong>Desempate:</strong> Existem alguns critérios de desempate se preciso, bem como, o número de vitórias e saldo de gols.<br>
                        <strong>Calendário:</strong> O campeonato começa entre abril e maio, terminando apenas em dezembro.<br>
                        <strong>Punições:</strong> O jogador que toma um cartão vermelho, sai da partida e não joga a proxima, o jogador que toma dois amarelos 
                        também é expulso.<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>Dados históricos</h4>
                    <p>
                        <strong>Primeiro Campeão:</strong> Atletico Mineiro<br>
                        <strong>Maior Campeão:</strong> Palmeiras (12 títulos)<br>
                        <strong>Atual Campeão:</strong> Palmeiras<br>
                        <strong>Maior campeão nos pontos corridos:</strong> Palmeiras (4 títulos)<br>
                        <strong>Time com mais rebaixamentos: </strong> Sport (6 rebaixamentos)<br>
                        <strong>Time com mais sequencia de títulos: </strong> São Paulo (2006, 2007, 2008)<br>
                        <strong>Time que mais pontuou em uma edição: </strong> Flamengo (90 pontos em 2019)<br>
                        <strong>Jogador com mais gols na história da competição: </strong> Roberto Dinamite (190 gols)<br>
                        <strong>Jogador com mais gols em uma edição: </strong> Edmundo (29 gols)<br>
                        <strong>Jogador com mais assistencias na história da competição: </strong> Arrascaeta (69 assistencias)<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>Times participantes</h4>
                    <p>
                        A lista de times que parycipam do brasileirão varia todo ano. Os times que estão participanto no ano de 204 são:<br>
                        Athletico, Atlético-GO, Atlético-MG, Bahia, Botafogo, Bragantino, Corinthians, Criciúma, Cruzeiro, Cuiabá, Flamengo, 
                        Fluminense, Fortaleza, Grêmio, Internacional, Juventude, Palmeiras, São Paulo, Vasco e Vitória.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>Histórico de campeões das edições anteriores</h4>
                    <p>
                        <strong>2023: </strong> Palmeiras<br>
                        <strong>2022: </strong> Palmeiras<br>
                        <strong>2021: </strong> Atletico Mineiro<br>
                        <strong>2020: </strong> Flamengo<br>
                        <strong>2019: </strong> Flamengo<br>
                        <strong>2018: </strong> Palmeiras<br>
                        <strong>2017: </strong> Corinthians<br>
                        <strong>2016: </strong> Palmeiras<br>
                        <strong>2015: </strong> Corinthians<br>
                        <strong>2014: </strong> Cruzeiro<br>
                        <strong>2013: </strong> Cruzeiro<br>
                        <strong>2012: </strong> Fluminense
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>